<form (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field appearance="legacy">
            <mat-label for="text">Task</mat-label>
            <input matInput type="text" name="text" id="text" [(ngModel)]="text">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="legacy">
            <mat-label for="day">Day</mat-label>
            <input matInput type="text" name="day" id="day" [(ngModel)]="day">
        </mat-form-field>
    </div>
    <mat-checkbox name="reminder" id="reminder" [(ngModel)]="reminder">Set Reminder</mat-checkbox>
    <!-- <input type="submit" value="Add Task" class="btn btn-block"> -->
    <app-button text="Add Task" color="primary" class="btn-block"></app-button>
</form>